---
import Layout from '../layouts/Layout.astro';
import SpotifyWebPlayer from '../components/SpotifyWebPlayer.astro';
---

<Layout title="Dylan Cole Music">
	<main>
		<h1>Welcome to <span class="text-red-500">Astro</span></h1>

		<div>
		<SpotifyWebPlayer/></div>
	</main>
</Layout>
