---
import Layout from "../layouts/Layout.astro";
import SpotifyWebPlayer from "../components/SpotifyWebPlayer.astro";
import "@fontsource/biorhyme";
import "@/styles/globals.css";
import Hero from "../components/molecules/Hero.astro";
import Contact from "../components/molecules/Contact.astro";
import Performances from "../components/molecules/Performances.astro";
import About from "../components/molecules/About.astro";
import heroBG from "../assets/heroBG.svg";
import heroBG2 from "../assets/heroBG2.svg";
---

<Layout title="Dylan Cole Music">
  <img
    src={heroBG.src}
    alt=""
    class="absolute object-cover w-screen h-screen -z-10"
  />
  <img
    src={heroBG2.src}
    alt=""
    class="absolute object-cover w-screen h-screen mt-[96vh] -z-10"
  />
  <div class="relative flex flex-col border-none">
    <main class="flex flex-col items-center">
      <Hero />
    </main>
    <Performances />
  </div>

  <Contact />
</Layout>
<!--End of Content -->

<script is:inline>
  //External script used for DecapCMS
  //@ts-ignore
  if (window.netlifyIdentity) {
    //@ts-ignore
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        //@ts-ignore
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
