---
import PerformancesTable from "../components/atoms/PerformancesTable.astro";
---

<section
  id="Performances"
  class="flex flex-col items-center relative w-[90vw] m-auto rounded py-4"
>
  <div
    class="absolute w-full h-full bg-black opacity-30 border-x-2 border-white"
  >
  </div>
  <h2
    class="py-4 text-7xl text-primary-foreground drop-shadow-2xl z-10 font-sans tracking-[0.75rem]"
  >
    TOUR
  </h2>
  <ul class="w-full">
    <PerformancesTable />
  </ul>
</section>
