---
import { getCollection } from "astro:content";
const now = Date.now();
let performances = await Astro.glob("../content/performances/*.md");
performances = performances.filter((performance) => {
  let cmsDate: number = new Date(performance.frontmatter.date).getTime();
  return cmsDate > Date.now();
});
performances = performances.sort(
  (a, b) => b.frontmatter.date - a.frontmatter.date
);
---

<section id="Performances">
  <h2>Tour</h2>
  <ul>
    {
      performances.map((performance) => {
        return <li>{performance.frontmatter.title}</li>;
      })
    }
  </ul>
</section>
