---
import guitarWhite from "/src/assets/guitarWhite.png";
import { Image } from "astro:assets";
---

<div class="flex items-center" id="logo">
  <Image
    src={guitarWhite}
    quality="low"
    alt="Guitar"
    class="h-10 md:h-14 xl:h-20 w-10 md:w-14 xl:w-20 -rotate-[30deg]"
  />
  <h1 class="font-alameda text-4xl xs:text-5xl md:text-6xl xl:text-7xl">
    DylanCole__
  </h1>
</div>
<script>
  // import noteImage from "/src/assets/musical-note.png";
  // const logo = document.getElementById("logo");
  // logo?.addEventListener("click", (e) => {
  //   e.preventDefault();

  //   const newNote = document.createElement("img");
  //   newNote.src = noteImage.src;
  // });

  // Order: create music note on click
  // Animate the music note by applying a random class from a predetermined set
  // after the animation timeout has ended, destroy the element
</script>
