---
const navListItems = [
  { title: "Home", link: "#Home" },
  { title: "About", link: "#About" },
  { title: "Tour", link: "#Performances" },
  { title: "Contact", link: "#Contact" },
];
---

<ul class="hidden lg:flex ml-8">
  {
    navListItems.map((item) => {
      return (
        <li class="h-full w-full">
          <a
            class="px-2 hover:underline underline-offset-8 p-4 text-xl h-full w-full"
            href={item.link}
          >
            {item.title}
          </a>
        </li>
      );
    })
  }
</ul>
