---
import ToggleNav from "../atoms/ToggleNav";
const isBannerActive = true;
import guitarWhite from "/guitarWhite.png?url";
const navListItems = [
  { title: "Home", link: "#Home" },
  { title: "About", link: "#About" },
  { title: "Tour", link: "#Performances" },
  { title: "Contact", link: "#Contact" },
];
---

<header class="bg-primary sticky top-0 z-20">
  <div class="px-4 py-6">
    <div class="flex justify-between max-w-screen-2xl m-auto">
      <div class="flex items-center">
        <img src={guitarWhite} alt="" class="h-8 -rotate-[30deg]" />
        <h1 class="font-biorhyme text-4xl text-primary-foreground">
          Dylan Cole
        </h1>
      </div>

      <nav class="flex items-center">
        <ToggleNav client:load navListItems={navListItems} />
        <ul class="hidden lg:flex">
          {
            navListItems.map((item) => {
              return (
                <li>
                  <a
                    class="px-2 text-primary-foreground hover:bg-secondary hover:text-secondary-foreground p-4 text-xl rounded"
                    href={item.link}
                  >
                    {item.title}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </div>
  </div>
  {
    isBannerActive && (
      <aside class="text-center bg-red-700 text-primary-foreground italic underline px-4 py-2">
        Check out Dylan's new single "Stuck in Calabasas," out now on all major
        streaming platforms!
      </aside>
    )
  }
</header>
