---
import { Image } from "astro:assets";
import pictureOfDylan from "/src/assets/images/acousticOnstage.jpeg";
---

<section
  id="About"
  class="flex flex-col items-center w-[90vw] gap-8 py-10 md:py-20 scroll-m-20"
>
  <h2
    class="py-4 text-4xl text-center drop-shadow-2xl z-10 font-alameda tracking-wide lg:text-7xl"
  >
    About
  </h2>

  <div class="flex flex-col xl:flex-row gap-10 xl:gap-8 items-center">
    <Image
      src={pictureOfDylan}
      alt="Dylan Cole performing a guitar solo at a live show."
      class="w-auto md:max-w-xl"
    />
    <div class="flex flex-col py-10 lg:py-20 max-w-xl">
      <p
        class="text-2xl lg:text-4xl text-center tracking-wide italic leading-loose"
      >
        Dylan Cole is an Atlanta-based country artist who blends the classic
        country sound with a modern twist that listeners of all ages can enjoy.
      </p>
    </div>
  </div>
</section>
