---
import footerBG from "/src/assets/footerBG.svg?url";
const inputClasses = "p-2 text-primary rounded ";
const buttonClasses =
  "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-11 rounded-md px-8";
---

<section
  id="Contact"
  class="py-20 lg:pb-48 relative w-full h-full flex flex-col items-center gap-10 bg-footer-pattern bg-no-repeat bg-cover bg-top scroll-m-20"
>
  <div class="flex flex-col gap-12 items-center px-4">
    <h2 class="text-5xl lg:text-7xl">Contact</h2>
    <span class="text-center"
      >To get in touch with Dylan, reach out via the form below.</span
    >
  </div>

  <form
    id="contactForm"
    class="flex flex-col w-[90vw] max-w-screen-sm gap-4"
    action="javascript:void(0);"
  >
    <label for="name">Name:</label>
    <input
      id="name"
      type="text"
      placeholder="Name"
      required
      class={inputClasses}
    />
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      placeholder="Email"
      required
      class={inputClasses}
    />
    <label for="messageBody">Message:</label>
    <textarea
      id="messageBody"
      cols="30"
      rows="6"
      class={inputClasses + "resize-y"}
      required
      placeholder="Get in touch with Dylan"></textarea>
    <div
      id="submitButton"
      aria-label="Submit Button"
      class={buttonClasses + " w-full"}
    >
      Submit
    </div>
  </form>

  <div class="h-[164px] w-[144px]">
    <div
      id="recaptcha"
      class="g-recaptcha"
      data-sitekey="6LdaYZIpAAAAAKUsMKuazfFbswtxjRx9Qdx3pwml"
      data-size="compact"
    >
    </div>
  </div>
</section>

<script is:inline defer src="https://www.google.com/recaptcha/api.js"></script>
<script
  is:inline
  defer
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
>
  (function () {
    emailjs.init({
      publicKey: "OkxGuSCSpok69bgA0",
      blockHeadless: true,
      limitRate: {
        throttle: 30000,
      },
    });
  })();

  const form = document.getElementById("contactForm");
  const submitButton = document.getElementById("submitButton");
  // const captcha = document.querySelector(".g-recaptcha");
  const handleSubmit = (e) => {
    if (form.checkValidity()) {
      e.preventDefault();
      let captchaToken = grecaptcha.getResponse();
      if (captchaToken == "") {
        alert("Please complete the captcha to submit.");
      } else {
        const templateParams = {
          from_name: document.getElementById("name").value,
          user_email: document.getElementById("email").value,
          message: document.getElementById("messageBody").value,
          "g-recaptcha-response": captchaToken,
        };
        submitButton.innerText = "Submitting...";

        emailjs
          .send("service_0p2kaha", "template_kj3cg2w", templateParams)
          .then(
            (response) => {
              submitButton.innerText = "Submitted";
              submitButton.style.backgroundColor = "#2e2e2e";
              form.setAttribute("disabled", true);
              e.target.removeEventListener("submit", handleSubmit);
            },
            (error) => {
              submitButton.innerText = "Submit";
              alert(
                "Error submitting email. If you just submitted an email, please wait a few seconds and try again."
              );
            }
          );
      }
    }
  };
  form.addEventListener("submit", handleSubmit);
  //This should be a react component, but I didn't think it would need to be at first.
</script>
