---
import calabasasPromoImage from "/src/assets/images/IMG_20240222_232152.jpg";
---

<div
  class="flex justify-center items-center w-full flex-col pt-10 pb-20 relative"
  id="Home"
>
  <img src={calabasasPromoImage.src} alt="" />
</div>
