---
import SpotifyWebPlayer from "../atoms/SpotifyWebPlayer.astro";
import currentPromoImage from "/src/assets/images/fourGoodYearsPromo.png";
import { Image } from "astro:assets";
---

<main
  class="flex justify-center items-center flex-col relative py-10 max-w-[90vw] gap-8 scroll-m-20"
  id="Home"
>
  <Image
    src={currentPromoImage}
    alt="'Stuck in Calabasas' promotional image"
    class="w-auto md:max-w-3xl"
  />

  <SpotifyWebPlayer styles="max-w-md" />
</main>
