---
import SpotifyWebPlayer from "../atoms/SpotifyWebPlayer.astro";
import calabasasPromoImage from "/src/assets/images/IMG_20240222_232152.jpg";
import { Image } from "astro:assets";
---

<main
  class="flex justify-center items-center flex-col relative py-10 max-w-[90vw] gap-8 scroll-m-20"
  id="Home"
>
  <Image
    src={calabasasPromoImage}
    alt="'Stuck in Calabasas' promotional image"
  />

  <SpotifyWebPlayer styles="max-w-md" />
</main>
