---
import calabasasPromoImage from "/src/assets/images/IMG_20240222_232152.jpg";
---

<main
  class="flex justify-center items-center w-full flex-col relative py-10"
  id="Home"
>
  <img src={calabasasPromoImage.src} alt="" />
</main>
