---
import ToggleNav from "../molecules/ToggleNav";
import Banner from "../atoms/Banner.astro";
import Logo from "../atoms/Logo.astro";
import NavListItems from "../atoms/NavListItems.astro";
import Icons from "../molecules/Icons.astro";
const isBannerActive = true;
---

<header class="bg-primary sticky top-0 z-20">
  <div class="px-4 py-6">
    <div class="flex justify-between max-w-screen-2xl m-auto">
      <Logo />

      <nav class="flex items-center">
        <div class="hidden lg:block">
          <Icons />
        </div>
        <NavListItems />
        <ToggleNav client:load />
      </nav>
    </div>
  </div>
  <Banner />
</header>
