---
import PerformancesTable from "../molecules/PerformancesTable.astro";
---

<section
  id="Performances"
  class="flex flex-col items-center relative w-[90vw] max-w-screen-xl m-auto rounded scroll-m-28"
>
  <div
    class="absolute w-full h-full bg-black opacity-30 border-x-2 border-white"
  >
  </div>
  <h2
    class="py-4 text-4xl lg:text-7xl text-center drop-shadow-2xl font-alameda"
  >
    Upcoming Shows
  </h2>
  <ul class="w-full">
    <PerformancesTable />
  </ul>
</section>
