---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Discover Atlanta-based country artist Dylan Cole, whose debut single 'Stuck in Calabasas' is captivating audiences on streaming platforms. Ideal for any venue or event, from intimate gatherings to large festivals, Dylan offers unforgettable performances with his soulful country melodies and heartfelt lyrics. Book Dylan Cole now for an authentic country music experience that resonates with everyone within earshot."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      is:inline></script>

    <title>{title}</title>
  </head>
  <body class="absolute flex flex-col">
    <div>
      <slot />
    </div>
    <div id="sideNav" class="bg-gray-500 opacity-75 absolute w-screen h-screen">
      <h1 class="text-cyan-800">Test</h1>
    </div>
  </body>
</html>
